
<div class="{{pageClass}}" ng-controller="q3Ctrl">
    <div class="panel panel-default">
        <div class="panel-heading"><h2 class="panel-title">Life Insurance Calculator</h2></div>
        <div class="panel-body">

            <div class="col-sm-6 form-group">
                <label>How much outstanding debt do you have?</label>
                <input class="form-control" type="number" name="debt" ng-model="debt" ng-change="change()"/>
                <a href="#/q2" class="btn btn-default">Back</a>
                <a href="#/calc" class="btn btn-primary">Calculate</a>
            </div>
        </div>
    </div>
</div>